<html data-namespace-typo3-fluid="true" lang="en"
			xmlns="http://www.w3.org/1999/xhtml"
			xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">
<f:flashMessages as="flashMessages">
	<div class="typo3-messages">
		<f:for as="flashMessage" each="{flashMessages}">
			<div class="alert {f:render(section:'alertColor', arguments:'{severity:flashMessage.severity}')}">
				<div class="media">
					<div class="media-left">
						<span class="fa-stack fa-lg">
							<i class="fa fa-circle fa-stack-2x"></i>
							<i class="fa {f:render(section:'icon', arguments:'{severity:flashMessage.severity}')} fa-stack-1x"></i>
						</span>
					</div>
					<div class="media-body">
						<f:if condition="{flashMessage.title}">
							<h4 class="alert-title">{flashMessage.title}</h4>
						</f:if>
						<f:if condition="{flashMessage.message}">
							<p>{flashMessage.message}</p>
						</f:if>
					</div>
				</div>
			</div>
		</f:for>
	</div>
</f:flashMessages>


<f:comment>
	<!--
		## change alert icon colors by severity
		const NOTICE = -2;
		const INFO = -1;
		const OK = 0;
		const WARNING = 1;
		const ERROR = 2;
		-->
</f:comment>
<f:section name="icon">
	<f:switch expression="{severity}">
		<f:case value="0">fa-check</f:case>
		<f:case value="1">fa-warning</f:case>
		<f:case value="2">fa-times</f:case>
		<f:defaultCase>fa-info</f:defaultCase>
	</f:switch>
</f:section>

<f:comment><!-- change alert box colors by severity --></f:comment>
<f:section name="alertColor">
	<f:switch expression="{severity}">
		<f:case value="0">alert-success</f:case>
		<f:case value="1">alert-warning</f:case>
		<f:case value="2">alert-danger</f:case>
		<f:defaultCase>alert-info</f:defaultCase>
	</f:switch>
</f:section>

